body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-image: url("tianka.jpg"); /* Замените image.jpg на имя вашей картинки */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: #f0f0f081;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 0;
  }
  
  section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f0f0f081;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul, ol {
    list-style-type: disc; /* или square, circle etc. */
    padding-left: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
